@import '@app/style/mixins';
@import '@app/style/vars';

.animation-view {
    display: block;
    flex-direction: column;
    width: 100%;
    min-width: 600px;
    background-color: $color-white;
}

.title-editor {
    width: 100%;
    padding: .5em 1em;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    >h4 {
        margin: 0;
    }
}

.code-editor,
.code-output {
    tab-size: 4ch;
    overflow: auto;
    background-color: $color-white;
    border-radius: 20px;
    margin: 0;
    overscroll-behavior-y: none;
    font-family: monospace;
    font-size: 13px;
    line-height: 18px;

    textarea {
        outline: none;
    }
}

.code-output {
    width: 100%;
    padding: 16px;

    >textarea {
        height: 2000px;
        margin: 0;
        width: 100%;
        outline: none;
        color: $color-text;
        border: 0;
        resize: none;
    }
}