@import '@app/style/mixins';
@import '@app/style/vars';

.header {
    & {
        @include fixed(null, 13px, null, 13px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &-mode {
        border-color: $color-border !important;
    }

    &-mode:hover,
    &-mode:active {
        background-color: $color-border !important;
    }
}

.present {
    &-action {
        &-item {
            display: flex !important;
            align-items: center;
            justify-content: flex-start;
            margin: 0 !important;

            .anticon {
                width: 15px;
            }
        }

        &-item:hover {
            background-color: $color-border;
        }

        &-item.on-selected {
            fill: #1677ff;
        }
    }
}

.loading {
    &-action {
        &-button {
            h3,
            h4 {
                margin: 0 !important;
            }
        }

        &-button:hover,
        &-button:active {
            background-color: $color-border !important;
        }

        &-dropdown {
            width: max-content;
        }

        &-item {
            gap: 10px;

            .anticon {
                width: 15px;
            }
        }
    }
}

.shape {
    &-input {
        border: 1px solid white;
        width: 100px;
    }

    &-cta {
        border: 1px solid white;
    }

    &-id:focus,
    &-id:hover {
        .shape-cta,
        .shape-input {
            border: 1px solid #1677ff;
        }
    }
}