@import '@app/style/mixins';
@import '@app/style/vars';

.tool {
    &-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        line-height: 38px;
        justify-content: space-between;
    }

    &-toggle {
        width: 38px !important;
        height: 38px;
    }

    &-cta {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        height: 38px;
        background-color: $color-theme-blue-lightest;
        border-radius: 20px;

        h4 {
            margin: 0 !important;
        }
    }

    &-menu {
        display: flex;
        flex-direction: row;
        background-color: $color-border;
        border: 0;
        border-radius: 20px;
        padding: 3px 10px;
        align-items: center;
        width: 100%;
    }

    &-menu-item {
        padding: 3px 8px;

        &.active {
            background-color: $color-white;
        }

        h5 {
            margin: 0;
        }
    }
}